.flagpole-container {
    display:flex;
    flex-direction: column;
    justify-content: start;
    border-bottom: #c6c6c6 thin solid;
    margin-top:5px;
}

.flagpole-info {
    display:flex;
    justify-content: start;
    margin-bottom: 10px;
}

.flagpole-control-edit-container {
    justify-content: start;
    margin-bottom: 16px;
}

.flagpole-name {
    flex: 1 1 auto;
    margin-right: 10px;
}

.flagpole-value {
    flex: 1 1 auto;
    margin-right: 10px;
}

.flagpole-value-desc {
    flex: 1 1 auto;
}

.flagpole-edit {
    margin-right: 10px;
}

.update-button {
    width :100px;
    margin-bottom: 5px;
}

.flagpole-mod-date {
    margin-bottom:7px;
}
.flagpole-message {
    margin: 3px 0 7px 0;
    color:red;
}